.ucb-campus-news-link-container{
    clear: both;
    text-align: right;
}

.ucb-campus-news-grid-link{
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    text-decoration: none;
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #0277BD !important;
    border: 1px solid #0277BD;
}

.ucb-campus-news-grid-link:hover{
    background: #0277BD;
    color: #fff !important;
}

.ucb-campus-news-title-only{
    display: block;
    padding: 5px 0;
}

.campus-news-article-grid{
    margin-bottom: 20px;
}

 .campus-news-article-grid > a {
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}


 .campus-news-article-teaser{
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.333);
    padding-bottom: 20px;
 }

 .ucb-campus-news-title-thumbnail-only{
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.333);
    padding-bottom: 10px;
 }

.ucb-campus-news-grid-link-container{
    text-align: center;
}

.campus-news-article-teaser > .field-name-field-article-thumbnail{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.campus-news-article-teaser > .field-name-field-article-thumbnail{
    margin-right: 20px;
}

.campus-news-article-teaser > div > a {
    font-weight: bolder;
}

.ucb-campus-news-title-thumbnail-only > .field-name-field-article-thumbnail{
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    margin-right: 10px;
}