campus-news .ucb-campus-news-link-container {
  clear: both;
  text-align: right;
}

campus-news .ucb-campus-news-grid-link {
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid currentColor;
}

campus-news .ucb-campus-news-title-only {
  display: block;
  padding: 5px 0;
}

campus-news .campus-news-article-grid {
  margin-bottom: 20px;
}

campus-news .campus-news-article-grid > a {
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
}

campus-news .campus-news-article-teaser {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.333);
  padding-bottom: 20px;
}

campus-news .ucb-campus-news-title-thumbnail-only {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.333);
  padding-bottom: 10px;
}

campus-news .ucb-campus-news-grid-link-container {
  text-align: center;
}

campus-news .campus-news-article-teaser > .field-name-field-article-thumbnail,
campus-news .campus-news-article-teaser > .campus-news-article-thumbnail {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
}

campus-news .campus-news-article-teaser > .field-name-field-article-thumbnail,
campus-news .campus-news-article-teaser > .campus-news-article-thumbnail {
  margin-right: 20px;
}

campus-news .campus-news-article-teaser > div > a {
  font-weight: bolder;
}

campus-news
  .ucb-campus-news-title-thumbnail-only
  > .field-name-field-article-thumbnail,
campus-news
  .ucb-campus-news-title-thumbnail-only
  > .campus-news-article-thumbnail {
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
  margin-right: 10px;
}

campus-news
  .article-feature-block-remaining
  > .ucb-campus-news-title-thumbnail-only
  > .field-name-field-article-thumbnail
  > a
  > .image-slider,
campus-news
  .article-feature-block-remaining
  > .ucb-campus-news-title-thumbnail-only
  > .field-name-field-article-thumbnail
  > a
  > .campus-news-article-thumbnail-image {
  max-width: 100%;
  height: 80px;
  object-fit: cover;
}

campus-news .campus-news-article-feature > .field-name-field-article-thumbnail,
campus-news .campus-news-article-feature > .campus-news-article-thumbnail {
  margin-bottom: 10px;
}

campus-news .campus-news-article-feature > a:nth-child(2) {
  font-weight: bold;
  font-size: 130%;
  line-height: 1.3;
}

campus-news .campus-news-article-date {
  margin-bottom: 0;
  font-size: 85%;
}

campus-news .campus-news-article-summary {
  margin: 0;
}

campus-news .campus-news-article-feature > .field-name-body,
campus-news .campus-news-article-feature > .campus-news-article-summary {
  margin-top: 10px;
}

campus-news .ucb-campus-news-error-container {
  text-align: center;
}
